* {
  margin:       0;
  padding:      0;
}

html {
  margin: 1.0em;
}

h1, h2, h3 {
  font-family:  'Amatic SC', cursive;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

h1 a,
h1 a:visited {
  text-decoration:  none;
  font-weight:      normal;
  font-size:        90%;
  color:            #000;
  border-bottom:    1px dashed #bbb;
}

h1 a:hover {
  color: red;
}

a {
  text-decoration: none;
}

ul.menu {
  list-style-type:  none;
  margin:           20px;

  li {
    background-color:  gray;
    border-radius:     3px;
    display:           inline-block;
    font-family:       Roboto;
    font-size:         0.7em;
    padding:           3px 12px 5px;
    text-transform:    uppercase;

    a {       color:  #FFF; }
    a:hover { color:  #000; }

  }
}

svg, .chart {
  font-family: Roboto;
}
