@width:       1024px;

text.timeline-label {
  display: none;
}

.page {
  margin:  0 auto;
  width:   @width;
}

.who {
  border-radius:  4px;
  border:         1px solid #ddd;
  font-family:    'Roboto', sans-serif;
  padding:        4px;
  width:          256px;

  img.icon {
    border:          0;
    height:          32px;
    margin-right:    8px;
    vertical-align:  middle;
    width:           32px;
  }
}
