@height:      140px;
@width:       960px;
@axis_width:  40px;

* {
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

html {
  margin: 1.0em;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

h1 a,
h1 a:visited {
  text-decoration:  none;
  font-weight:      normal;
  font-size:        90%;
  color:            #000;
  border-bottom:    1px dashed #bbb;
}

h1 a:hover {
  color: red;
}

.waveform > svg,
.waveform > div {
  border:       2px solid #ddd;
  height:       @height;
  margin-left:  @axis_width;
  padding:      2px;
  position:     relative;
  width:        960px;
}

.waveform h2 {
  margin-left:  @axis_width;
  font-size:    36px;
}

.waveform > div {
  div.bar {
    background-color:  red;
    position:          absolute;
  }
}

.waveform .svg {
  g rect {
    fill:     red;
    opacity:  0.5;
  }
}

.soundcloud_embed {
  display:      none;
  opacity:      0.5;
  margin-left:  @axis_width;
  width:        @width + 8px; /* weird padding offset; SC embed is slightly too short? */
}

.axis {
  position: absolute;
  top:      4px;
  left:    -@axis_width;
  g {
    path.domain {
      display: none;
    }

    text {
      font-family: 'Roboto', sans-serif;
      opacity:      0.5;
      font-size:    10px;
    }
  }
}

