.waveform > svg {
  border: 2px solid green;
}

.waveform > div {
  display: none;
  padding:  10px;
  border:   2px solid #ddd;
  height:   500px;

  div.bar {
    display:           inline-block;
    background-color:  red;
    width:             2px;
  }
}

