* { margin: 0;
}

html {
  margin: 1.0em;
}

.waveform > svg,
.waveform > div {
  padding:  2px;
  height:   60px;
  border:   2px solid #ddd;
  width: 960px;
}

.waveform > div {
  div.bar {
    display:           inline-block;
    background-color:  red;
  }
}

.waveform svg g rect {
  fill: steelblue;
}

.waveform svg text {
  text-anchor: end;
}

