h3 You'll be asked to include the following information for your proposal:

h4 Proposed title
ul
  li Overview and extended descriptions of the presentation: main idea, sub topics, conclusion
  li Your expertise and summary biography

h4 Some tips for writing a good proposal for a good talk:
ul
  li Help us understand why your presentation is the right one for Hack Deploy Scale.
  li Keep the audience in mind: they’re technical, professional, but with different levels of experience and specialty.
  li Clearly identify the level of the talk and why people will want to attend: is it for beginners to the topic, or for gurus? Is this a trending topic, or an installation tutorial?
  li Give it a simple and straightforward title or name: fancy and clever titles or descriptions make it harder for people (committee and attendees) to figure out what you’re really talking about
  li Limit the scope of the talk: in 40 minutes, expect to pick a useful aspect of a topic; a particular technique; or walk through a simple program
  li Pages of code are unreadable: mere mortals can deal with code a line at a time.
  li Be authentic! Focus on real-world scenarios and relevant examples.
  li Include people we don't see often enough at tech conferences: Does your presentation have the participation of a woman, person of color, or member of another group often underrepresented at tech conferences? Diversity is one of the factors we seriously consider when reviewing proposals as we seek to broaden our speaker roster.
  li Above all else, present something relevant!
