doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='author', content='jm3')
    title d3 swimmo

    // build:css stylesheets/app.min.css
    //- the build directives will cause these to be bundled into one file
    link(rel="stylesheet",type="text/css",href="stylesheets/fonts.css")
    link(rel="stylesheet",type="text/css",href="stylesheets/base.css")
    // endbuild

  body
    .page
      h1 d3.swimmo
      a(href="http://d3js.org/", target="_blank") d3 docs

    // build:js(source/) javascripts/app.min.js
    script(src='vendor/jquery/jquery-1.10.2.min.js')
    script(src='vendor/d3/d3.min.js')
    script(src="vendor/d3/queue.v1.min.js")
    // endbuild

    script

      // google doc of swim data
      var csv_uri = "https://docs.google.com/spreadsheet/pub?key=0Aq5dBJnSM4yYdHVQQ1FmV1hSNzUwRG82MTFWWl9KNUE&output=csv";

      queue()
        .defer( d3.csv, csv_uri)
        .await(ready)

      // jade barfs if this is on more than one line...!!!!!!!????? #fml #nodejs #cool
      function ready(error, data) { $.each( data, function(index, val) { console.log(val) }) }

