!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='author', content='jm3')
    title d3 swimmo
    //- the build/endbuild comments are significant, used by usemin to crunch css
    // build:css stylesheets/app.min.css
    link(rel="stylesheet",type="text/css",href="stylesheets/fonts.css")
    link(rel="stylesheet",type="text/css",href="stylesheets/base.css")
    // endbuild

  body
    .page
      h1 d3.swimmo
      a(href="http://d3js.org/", target="_blank") d3 docs

    // build:js(source/) javascripts/app.min.js
    script(src='vendor/jquery/jquery-1.10.2.min.js')
    script(src='vendor/d3/d3.min.js')
    script(src="http://d3js.org/queue.v1.min.js")
    // endbuild

    script

      // google doc of swim data
      var csv_uri = "https://docs.google.com/spreadsheet/pub?key=0Aq5dBJnSM4yYdHVQQ1FmV1hSNzUwRG82MTFWWl9KNUE&output=csv";

      queue()
        .defer( d3.csv, csv_uri)
        .await(ready);

      function ready(error, data) {
        $.each( data, function( index, val ) {
          console.log( val );
        });
      }

