doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='author', content='jm3')
    title d3 maps

    // build:css stylesheets/app.min.css
    //- the build directives will cause these to be bundled into one file
    link(rel="stylesheet",type="text/css",href="http://fonts.googleapis.com/css?family=Roboto:400,100|Amatic+SC")
    link(rel="stylesheet",type="text/css",href="stylesheets/maps.css")
    // endbuild

  body
    .page
      h1 d3 maps &middot;
        a(href="http://www.jm3.net/") jm3
      .map

    // build:js(source/) javascripts/app.min.js
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="http://d3js.org/topojson.v1.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="javascripts/maps.js")
    // endbuild

